---
layout: default
title: "Events"
# no such section (yet)
section: events
notitle: true
---

/ Some more spacing from the navbar
.pt-4
  &nbsp;

.container
  .row
    %h1
      Event Calendar

  .row
    .col
      = partial('events.html.haml', :calendarParams => '' )

      -# Text at one time kept on the wiki
      -# https://wiki.jenkins.io/display/JENKINS/Jenkins+Event+Calendar

      %h3
        About this calendar
      %p
        This page tracks the upcoming events related to Jenkins.

      %h3
        Making changes

      %p
        To make changes, please
        %a{:href => expand_link('mailing-lists/')}
          drop us a note
        about the event so that we can add it.
        If you expect to have many events, we'd be happy to give you the direct edit access.
