---
layout: default
---

.container
  .row.body
    %h1
      = page.title

    = content

    - site.handbook.chapters.each do |chapter|
      - if chapter.sections && chapter.sections.size > 0
        %h2
          Sub-sections

        %ul
          - chapter.sections.each do |section|
            %li
              %a{:href => section.key}
                = section.title

    .section_nav.page-link
      %a{:href => '..'}
        Index
